# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/tasks.json

# Flutter / Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# Build files
**/build/
build/

# Coverage
coverage/

# Android
.gradle/
**/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/

# Symbols / obfuscation
app.*.symbols
app.*.map.json

# Firebase
**/google-services.json